@layer base {
    h1#hacked-text {
      @apply text-white cursor-pointer text-center font-bold;
      font-family: 'Orbitron', sans-serif;
      font-size: clamp(3rem, 10vw, 10rem);
      padding: 0rem clamp(1rem, 2vw, 3rem);
      border-radius: clamp(0.4rem, 0.75vw, 1rem);
    }
  
    h1#hacked-text:hover {
      @apply bg-white text-black;
    }
  
    h1#cosmic-journey {
      @apply text-white text-center text-sm;
      font-family: 'Orbitron', sans-serif;
    }
  }
  